{% assign certifications = site.data.data.certifications %} 
{% if certifications %}
<section class="section certifications-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
    </span>
    {{ certifications.title }}
  </h2>

  {% for certification in certifications.list %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="cert-title">{{ certification.name }}</h3>
      </div>
      <!--//upper-row-->

      <div class="second-upper-row">
        <div class="cert-org">
          {{ certification.organization }} {% if certification.credential_id %}
          ({{ certification.credential_id }}) {% endif %}
        </div>
      </div>
    </div>
    <!--//meta-->
  </div>
  <!--//item-->
  {% endfor %}
</section>
<!--//section-->
{% endif %}
