{% assign courses = site.data.data.courses %}
{% if courses %}
<section class="courses-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
    </span>
    {{ courses.title }}
  </h2>

  <div class="course-list">
    {% for course in courses.list %}
    <div class="item">
      <p>{{ course }}</p>
    </div>
    {% endfor %}
  </div>

</section>
{% endif %}
